.slider {
  position: relative;
  cursor: pointer;
}

.slider .graphics {
  position: relative;
  height: 100px;
  width: 100px;
}

.slider .graphics .hitarea {
  opacity: 0.1;
  stroke: none;
  fill: #1C1F24;
}

.slider .graphics .track {
  stroke: rgba(255,255,255,0.05);
  fill: none;
}

.slider .graphics .bar {
  stroke-linecap: butt;
  stroke: #fff;
  fill: none;
}

.slider .label {
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column;
  letter-spacing: 0.5px;
  align-items: center;
  line-height: 1.5;
  position: absolute;
  opacity: 0.9;
  display: flex;
  color: #fff;
}

.slider .label .title {
  font-weight: 200;
  font-size: 9px;
}

.slider .label .value {
  font-weight: 200;
  font-size: 13px;
}

@media screen and (max-width: 600px), (max-height: 500px) {
  
  .slider .graphics {
    height: 64px;
    width: 64px;
  }
  
  .slider .label {
    line-height: 1.2;
    letter-spacing: 0;
  }

  .slider .label .title {
    font-size: 8px;
  }

  .slider .label .value {
    font-size: 11px;
  }
}